<div>
  <div style="font-weight: 600">Browser and Display Compatibility</div>
  <div style="margin-top: 10px">
    RespAI (Responsible AI) is compatible with the following browsers:<br />
    Microsoft Edge 44<br />   
    Google Chrome 58<br />    
    <br />
    This site is best viewed in 1366x768 resolution
  </div>
  <div style="display: flex; width: 100%; margin-top: 10px">
    <div style="margin-left: auto">
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
