<div>
  <div style="font-weight: 600">Privacy Policy</div>
  <div style="margin-top: 10px">
    RespAI (Responsible AI) is a TCS Proprietary Software for Azure Cloud <br />
    Responsible AI Tool. TCS owns and reserves rights to the Intellectual <br />
    Properties in its offerings. We respect Confidentiality, Privacy,
    Ownership,<br />
    and Intellectual Property Rights in and to the Proprietary Material of
    our<br />
    Customers and other organizations.
  </div>
  <div style="display: flex; width: 100%; margin-top: 10px">
    <div style="margin-left: auto">
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
